# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/

# Sensitive information
.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db
ai_conversation_project_files.txt
